  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triple J Event Venue</title>
  </head>
  <body>
    <main>
      <nav class="float-left fixed max-w-fit bg-black text-white">Triple J Event Venue</nav>
      {{{body}}}
    </main>
  </body>
</html>