  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triple J Event Venue</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="./public/css/style.css" rel="stylesheet"/>

  </head>
  <body>
    <main>
      <nav class="float-left fixed max-w-fit bg-black text-white">Triple J Event Venue</nav>
      {{{body}}}
    </main>
    <footer class="fixed-center max-w-fit bg-black text-white" >123 Anywhere Street | Kansas City, MO 64105 | 816.888.8888 <br>Contact Us</footer>
  </body>
</html>