  <!-- About Us -->
    <div>
      <div>
        <h1
          class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
          About Us</h1>
        <p class="mb-6 text-center text-lg font-normal text-black lg:text-xl sm:px-16 xl:px-48 dark:text-black">
          Triple J Event Venue is a fictional event company. This was designed for a Full Stack Bootcamp by Jacob Boyce,
          Jennifer Engle & Jacob Kouns. Triple J made sense with all of our first names starting with a 'J'.</p>
        <hr class="w-48 h-1 mx-auto my-4 bg-black border-0 rounded md:my-10 dark:bg-gray-700">
      </div>

      <!-- card from flowbite.com/docs/components/card/ -->
      <div class="aboutUs content-center flex-wrap">
      <!-- Jacob Boyce -->
        <div class="p-5 text-center">
          <img class="rounded-full text-center w-40 h-40 shadow-xl dark:shadow-gray-800" src="/images/20220405_174846.jpg">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Jacob Boyce</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">I enjoy playing guitar and love cats.</p>
        </div>
        <!-- Jennifer Engle -->
        <div class="p-5 text-center">
          <img class="rounded-full text-center w-40 h-40 shadow-xl dark:shadow-gray-800" src="/images/Oct22Selfie.png">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Jennifer Engle</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">I'm enjoy crafting, my dogs and being weird.</p>
        </div>
        <!-- Jacob Kouns -->
        <div class="p-5 text-center">
          <img class="rounded-full text-center w-40 h-40 shadow-xl dark:shadow-gray-800" src="/images/DSC03231.jpg">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Jacob Kouns</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">I enjoy being outside away from all of the people</p>
        </div>
      </div>  
    </div>

    </div>
    </div>