{{! Dynamic Calendar  }}
{{! Need to make sure Google Fonts is in main.handlebars }}

<div class="wrapper">
  <header>
    <p class="current-date">March 2023</p>
    <div class="icons">
      <span class="material-symbols-rounded">chevron_left</span>
      <span class="material-symbols-rounded">chevron_right</span>
    </div>
  </header>
  <div class="calendar">
    <ul class="dayName"></ul>
    <li>Sun</li>
  </div>
</div>