{{! Dynamic Calendar  }}
{{! Need to make sure Google Fonts is in main.handlebars }}

<div class="wrapper">
  <header>
    <p class="current-date">March 2023</p>
    <div class="icons">
      <span class="material-symbols-outlined">chevron_left</span>
      <span class="material-symbols-outlined">chevron_right</span>
    </div>
  </header>
  <div class="calendar">
    <ul class="dayName">
      <li>Sun</li>
      <li>Mon</li>
      <li>Tue</li>
      <li>Wed</li>
      <li>Thu</li>
      <li>Fri</li>
      <li>Sat</li>
    </ul>
    <ul class="days">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
      <li>28</li>
      <li>29</li>
      <li>30</li>
      <li>31</li>
    </ul>
  </div>
</div>