{{! Dynamic Calendar  }}
{{! Calendar Datepicker  https://flowbite.com/docs/plugins/datepicker/ }}
<div>
  <div class="relative max-w-sm">
    <div
      id="datepicker"
      class="calendar flex items-center justify-between dark:bg-gray-900"
      github="plugins/datepicker.md"
      show_dark="true"
      initDatepicker="true"
    >
      <input
        datepicker
        datepicker-buttons
        type="text"
        class="bg-orange-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-100 focus:border-rose-900 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-orange-300 dark:text-white dark:focus:ring-orange-100 dark:focus:border-rose-900 placeholder-text:gray-700"
        placeholder="Select date"
      />
    </div>
  </div>
  <hr
    class="w-48 h-1 mx-auto my-4 bg-black border-0 rounded md:my-10 dark:bg-gray-700"
  />
  <div>
    <h1
      class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Upcoming Events</h1>
    <p
      class="mb-6 text-center text-lg font-normal text-rose-900 lg:text-xl sm:px-16 xl:px-48 dark:text-rose-900"
    >To request a reservation, click
      <a class="font-bold text-rose-900" href="#">here</a>.</p>
    <hr
      class="w-48 h-1 mx-auto my-4 bg-black border-0 rounded md:my-10 dark:bg-gray-700"
    />

    <p
      class="mb-6 text-center text-lg font-normal text-black lg:text-xl sm:px-16 xl:px-48 dark:text-black"
    >
      Below is a list of upcoming events this month. If you'd like to see if
      your event date is available, please click on your event date or your
      event month.</p>
  </div>
</div>