{{! Home tab }}
<!-- Landing Image  -->
<div class="imageContainer">
  <figure class="max-w-lg">
    <img
      class="h-auto max-w-full rounded-lg shadow-lg"
      src="/images/mikita-yo-7OwUpvntk_I-unsplash-horizontal.jpg"
      alt="building image geometric architecture"
    />
    <figcaption
      class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"
    ></figcaption>
  </figure>
</div>
<div>
  <h1
    class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
  >
    Triple J Event Venue</h1>
  <p
    class="mb-6 text-center text-lg font-normal text-black lg:text-xl sm:px-16 xl:px-48 dark:text-black"
  >
    Thank you for supporting our small business!<br />
    Though we're located and attached to a large hotel chain, we are
    independently and locally owned. We'd love to help you celebrate any
    occassion, intimate or for hundreds.</p>
  <hr
    class="w-48 h-1 mx-auto my-4 bg-black border-0 rounded md:my-10 dark:bg-gray-700"
  />
  <p
    class="mb-6 text-center text-lg font-normal text-black lg:text-xl sm:px-16 xl:px-48 dark:text-black"
  >Check out our different reservation options, learn more about us and see what
    upcoming events are happening!</p>
  <div class="imageContainer">
    <figure>
      <a href="/reservation"><img
          class="rounded-full w-40 h-40 shadow-xl dark:shadow-gray-800"
          src="/images/nick-karvounis-wnuHCwLJDqY-unsplash.jpg"
        /></a>
      <figcaption
        class="mt-2 text-sm text-center text-gray-500 dark:text-gray-800"
      >Reservations</figcaption>
    </figure>
    <figure>
      <a href="/about-us"><img
          class="rounded-full w-40 h-40 shadow-xl dark:shadow-gray-800"
          src="/images/ibrahim-boran-m8YjB0noWiY-unsplash.jpg"
        />
        <figcaption
          class="mt-2 text-sm text-center text-gray-500 dark:text-gray-800"
        >About Us</figcaption>
      </a>
    </figure>
    <figure>
      <a href="/calendar"><img
          class="rounded-full w-40 h-40 shadow-xl dark:shadow-gray-800"
          src="/images/image-from-rawpixel-id-436026-jpeg.jpg"
        />
        <figcaption
          class="mt-2 text-sm text-center text-gray-500 dark:text-gray-800"
        >Upcoming Events
        </figcaption></a>
    </figure>
  </div>
</div>