<!-- Rental Space header -->
    <div>
      <h1
        class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        Rental Spaces</h1>
    </div>
    <!-- Images of Spaces in Cards -->
    <!-- grand rotunda -->
    <div class="cardContainer">
      <div class="card max-w-sm bg-white  border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg w-150" src="/images/ibrahim-boran-m8YjB0noWiY-unsplash.jpg"
          alt="Reception Hall with Round Tables and place settings" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Grand Rotunda</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <ul>
            <li>Maximum Occupancy: 375</li>
            <li>Media Ready: Yes</li>
            <li>Projector: Yes</li>
            <li>Maximum Long Tables: 80</li>
            <li>Maximum Round Tables: 44</li>
            <li>Expandable Space: No</li>
          </ul>
          </p>
          <a href="/reservation"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-10">
            Reserve Now
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <!-- business center -->
      <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="/images/evangeline-shaw-xRlI-L-kvrw-unsplash.jpg"
          alt="Business Meeting People around a table" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Business Center</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <ul>
            <li>Maximum Occupancy: 80</li>
            <li>Media Ready: Yes</li>
            <li>Projector: Yes</li>
            <li>Maximum Long Tables: 15</li>
            <li>Round Tables Unavailable for this space.</li>
            <li>Expandable Space: No</li>
          </ul>
          </p>
          <a href="/reservation"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-10">
            Reserve Now
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <!-- exhibit hall A -->
      <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="/images/image-from-rawpixel-id-5960638-jpeg.jpg"
          alt="Business Meeting" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Exhibit Hall A</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <ul>
            <li>Maximum Occupancy: 150</li>
            <li>Media Ready: Yes</li>
            <li>Projector: Yes</li>
            <li>Maximum Long Tables: 26</li>
            <li>Maximum Round Tables: 15</li>
            <li>Expandable Space: Yes</li>
          </ul>
          </p>
          <a href="/reservation"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-10">
            Reserve Now
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <!-- exhibit hall b -->
      <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="/images/stem-list-EVgsAbL51Rk-unsplash.jpg"
          alt="business convention with screen" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Exhibit Hall B</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <ul>
            <li>Maximum Occupancy: 150</li>
            <li>Media Ready: Yes</li>
            <li>Projector: Yes</li>
            <li>Maximum Long Tables: 26</li>
            <li>Maximum Round Tables: 15</li>
            <li>Expandable Space: Yes</li>
          </ul>
          </p>
          <a href="/reservation"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-10">
            Reserve Now
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <!-- exhibit hall c -->
      <div class="card max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="rounded-t-lg" src="/images/thomas-william-OAVqa8hQvWI-unsplash.jpg"
          alt="Business Meeting People around a table" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Exhibit Hall C</h5>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          <ul>
            <li>Maximum Occupancy: 150</li>
            <li>Media Ready: Yes</li>
            <li>Projector: Yes</li>
            <li>Maximum Long Tables: 26</li>
            <li>Maximum Round Tables: 15</li>
            <li>Expandable Space: Yes</li>
          </ul>
          </p>
          <a href="/reservation"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-10">
            Reserve Now
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>