@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

body {
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: burlywood;
}

.container {
    width: 100%;
    color: black;
    height: 50px;
    font-size: 2rem;
    display: block
}

.wrapper {
    display: block;
    width: 450px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}

.wrapper header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .current-date {
    font-size: 1.5rem;
    font-weight: 500;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.aboutUs {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.calendar {
    display: block;
    align-items: center;
    margin-top: 50px;
    margin-left: 250px;
    margin-block-start: 100px;
}

.calendar.reservation {
    display: block;
    align-items: center;
    margin-left: 250px;
}

.spaces {
    display: block;
    align-items: center;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-block-start: 100px;
}

.form {
    display: block;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    padding-top: 15px;
}

/* .toggle {
    margin-left: 250px;
} */

.date-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    margin: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.footer {
    margin-top: 50px;
}
/* 
button {
    background-color: maroon;
} */